<p id="notice"><%= notice %></p>

<p>
  <strong>Personal:</strong>
  <%= @assistance.personal_id %>
</p>

<p>
  <strong>Fecha desde:</strong>
  <%= @assistance.fecha_desde %>
</p>

<p>
  <strong>Fecha hasta:</strong>
  <%= @assistance.fecha_hasta %>
</p>

<p>
  <strong>Movito:</strong>
  <%= @assistance.movito %>
</p>

<p>
  <strong>Con aviso:</strong>
  <%= @assistance.con_aviso %>
</p>

<p>
  <strong>Justificado:</strong>
  <%= @assistance.justificado %>
</p>

<%= link_to 'Edit', edit_assistance_path(@assistance) %> |
<%= link_to 'Back', assistances_path %>
