<%= form_with(model: inasistencium, local: true) do |form| %>
  <% if inasistencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inasistencium.errors.count, "error") %> prohibited this inasistencium from being saved:</h2>

      <ul>
        <% inasistencium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :personal_id %>
    <%= form.text_field :personal_id %>
  </div>

  <div class="field">
    <%= form.label :fechadesde %>
    <%= form.date_select :fechadesde %>
  </div>

  <div class="field">
    <%= form.label :fechahasta %>
    <%= form.date_select :fechahasta %>
  </div>

  <div class="field">
    <%= form.label :causa %>
    <%= form.text_field :causa %>
  </div>

  <div class="field">
    <%= form.label :aviso %>
    <%= form.check_box :aviso %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
