<%= form_with(model: personal, local: true) do |form| %>
  <% if personal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal.errors.count, "error") %> prohibited this personal from being saved:</h2>

      <ul>
        <% personal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :documento %>
    <%= form.text_field :documento %>
  </div>

  <div class="field">
    <%= form.label :apeynom %>
    <%= form.text_field :apeynom %>
  </div>

  <div class="field">
    <%= form.label :fecnac %>
    <%= form.date_select :fecnac %>
  </div>

  <div class="field">
    <%= form.label :fecing %>
    <%= form.date_select :fecing %>
  </div>

  <div class="field">
    <%= form.label :domic %>
    <%= form.text_field :domic %>
  </div>

  <div class="field">
    <%= form.label :activo %>
    <%= form.check_box :activo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
