<p id="notice"><%= notice %></p>

<p>
  <strong>Documento:</strong>
  <%= @personal.documento %>

  <strong>Apellido y nombres:</strong>
  <%= @personal.apeynom %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @personal.fecnac %>

  <strong>Fecha de ingreso:</strong>
  <%= @personal.fecing %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @personal.domic %>

  <strong>Activo:</strong>
  <%= @personal.activo %>
</p>

<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', personals_path %>
