
<%= simple_form_for(@movimiento) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :personal, :label_method => :apeynom %>
    <%= f.input :fecha_desde %>
    <%= f.input :fecha_hasta %>
    <%= f.input :motivo %>
    <%= f.input :con_aviso %>
    <%= f.input :justificado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
