<!DOCTYPE html>
<html>
  <head>
    <title>Asistencia</title>
    <center><h1>ESCUELA PREUNIVERSITARIA "FRAY MAMERTO ESQUIÚ"</h1></center>
    <center><h2>Sistema de Gestión de Secretaría</h2></center>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= image_tag("universidad.jpg", size: "300x150", class: "img-responsive center-block")  %>
   <!--
    <img src=".jpg" alt="" width="300" height="150" />
    -->
  </head>

  <body>
  <body style="background-color:#FFC300;">

    <%= yield %>
  </body>
</html>
