<!DOCTYPE html>
<html>
  <head>
    <title>Asistencia</title>
    <h1>ESCUELA PREUNIVERSITARIA "FRAY MAMERTO ESQUIÚ"</h1>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= image_tag("universidad.jpg", size: "300x150")  %>
   <!--
    <img src=".jpg" alt="" width="300" height="150" />
    -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
